@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html,
  body {
    font-family: "Open Sans", sans-serif;
  }
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.translate3d {
  transform: translate3d(0, 0, 0);
}
.translate3dleft {
  transform: translate3d(-100%, 0, 0);
}
.translate3dright {
  transform: translate3d(100%, 0, 0);
}

.line {
  display: absolute;
  content: " ";
  min-width: 32px;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 100;
  transition: opacity 0.3s linear;
}
.bganimate {
  position: relative;
  overflow: hidden;
  background-color: rgb(107 114 128);
}

.bganimate::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background-color: white;
  animation: progress-bar 5s linear forwards;
}

@keyframes progress-bar {
  to {
    width: 100%;
  }
}
.wiggle:hover {
  animation: wiggle 0.5s ease-in-out;
}

@keyframes wiggle {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0);
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev {
  background-color: white !important;
  border-radius: 50% !important;
  padding: 2.2rem !important;
  color: black !important;
  width: 56px !important;
  transform: scale(0.7) !important;
  box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.284) !important;
  left: -10px !important;
  z-index: 500 !important;
  fill: black !important;
  position: absolute !important;
}
.swiper-button-next {
  background-color: white !important;
  border-radius: 50% !important;
  padding: 2.2rem !important;
  color: black !important;
  transform: scale(0.7) !important;
  right: -10px !important;
  box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.284) !important;
  fill: black !important;
  z-index: 500 !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  color: black !important;
}
.swiper-pagination {
  width: 16px !important;
}
.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: var(--swiper-pagination-right, 8px);
  left: var(--swiper-pagination-left, auto);
  top: 50%;
  transform: translate3d(0px, -50%, 0);
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.swiper-pagination-bullet-active {
  height: 20px;
}
.swiper-pagination-bullet-active {
  height: 20px !important;
  border-radius: 5px !important;
}
@media (min-width: 768px) {
  .chevrons {
    display: none;
  }
  .item:hover > .chevrons {
    display: flex;
  }
}
@media (max-width: 768px) {
  .chevrons {
    display: none;
  }
  .item:hover > .chevrons {
    display: none;
  }
}

.favorites:hover > .favorite {
  filter: invert(1);
}
.slider .rs-slider-bar {
  background-color: black;
  border-radius: 3px;
  cursor: pointer;
  height: 4px;
}

.slider .rs-slider-progress-bar {
  left: 0%;
  width: 100%;
  background-color: #030303;
  border-radius: 3px 0 0 3px;
  height: 5px;
  position: absolute;
}

.rs-slider-handle {
  left: 0%;
  outline: none;
  position: absolute;
  top: 0%;
}
.rs-slider-handle:before {
  background-color: #6ba8eb;
  border: 1px solid #6ba8eb;
  border-radius: 10px;
  content: "";
  top: -12px;
  cursor: pointer;
  height: 32px;
  margin-left: -6px;
  position: absolute;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out,
    transform 0.3s ease-in-out;
  width: 32px;
}
.rs-slider-progress-bar {
  background-color: #3498ff;
  border-radius: 3px 0 0 3px;
  height: 3px;
  position: absolute;
}
.rs-tooltip-arrow {
  display: none;
}

.separate > div:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 16px;
  background-color: #e5e7eb;
  margin: 3px 23px;
}
.mySwiper .swiper-slide-thumb-active {
  opacity: 100% !important;
}

.placeholder input::placeholder {
  font-size: 14px;
}
.placeholder textarea::placeholder {
  font-size: 14px;
}
.clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  min-height: 24px;
}
